@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Azeret Mono", monospace;
}
.banner {
  background-image: url("./assets/Hero-bg.png");
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner_content {
  width: 998px;
  height: 581px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.banner_content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 40px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  width: 998px;
}
.banner_content p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.contact_btn button {
  width: 244px;
  height: 65px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  background-color: #0d1321;
  padding-right: 35px;
  border-radius: 10px;
}

.why_web_dev {
  width: 1140px;
  height: 1393px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin: 0 auto;
  margin-top: 74px;
  padding: 80px 67px;
}
.why_container {
  border: 2px solid green;
  width: 946px;
  height: 1233px;
  margin: 0 auto;

}
.why_cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.why_content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 30px;
}
.why_content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
}
.landing_card1 {
  width: 946px;
  height: 336px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border: 2px solid green;

  display: flex;
  justify-content: space-evenly;
  border: 2px solid greenyellow;
  align-items: center;
}
.landing_content{
    width: 50%;
}
.landing_content h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}
.landing_content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.learn_btn {
  width: 171px;
  height: 47px;
  color: #0D1321;
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  outline: none;
  border: 2px solid gray;

}

.landing_img{
    width: 50%;
    text-align: end;
}
.modify_2{
   display: flex;
   flex-direction: row-reverse;
}
.modify_2 .landing_img{
    text-align: center;
}
.modify_2 .landing_content{
    margin-right: 50px;
}
