@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Azeret Mono", monospace;
}
.banner {
  background-image: url("./assets/Hero-bg.png");
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner_content {
  width: 998px;
  height: 581px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.banner_content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 39px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  width: 998px;
}
.banner_content p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.contact_btn button {
  width: 244px;
  height: 65px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  background-color: #0d1321;
  padding-right: 35px;
  border-radius: 10px;
}

.why_web_dev {
  width: 1140px;
  height: 1393px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin: 0 auto;
  margin-top: 74px;
  padding: 80px 67px;
}
.why_container {
  width: 946px;
  height: 1233px;
  margin: 0 auto;
}
.why_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.why_content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 30px;
}
.why_content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
}
.landing_card1 {
  width: 946px;
  height: 336px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border: 2px solid green;

  display: flex;
  justify-content: space-evenly;
  border: 2px solid greenyellow;
  align-items: center;
}
.landing_content {
  width: 50%;
}
.landing_content h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}
.landing_content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.learn_btn {
  width: 171px;
  height: 47px;
  color: #0d1321;
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  outline: none;
  border: 2px solid gray;
}

.landing_img {
  width: 50%;
  text-align: end;
}
.modify_2 {
  display: flex;
  flex-direction: row-reverse;
}
.modify_2 .landing_img {
  text-align: center;
}
.modify_2 .landing_content {
  margin-right: 50px;
}

/* inspiration section  */
.my_inspiration {
  width: 1140px;
  height: 777px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 88px;
}
.inspiration_content h1,
.current_h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.inspiration_content p,
.current_p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 48px;
}

.inspiration_link {
  width: 1140px;
  height: 614px;
  border: 2px solid gainsboro;
  border-radius: 10px;
  padding: 32px;
}
.inspiration_link iframe {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 1076px;
  height: 550px;
  border-radius: 10px;
}

/* my current section */
.my_current_target {
  width: 1140px;
  height: 463px;
  margin: 0 auto;
  margin-top: 80px;
}
.my_current_target .cards {
  width: 1140px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.my_current_target .cards .card {
  width: 364px;
  height: 300px;
  display: flex;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}
.my_current_target .cards .card_modify_2 {
  background-color: rgba(0, 76, 232, 0.05);
}
.my_current_target .cards .card_modify_3 {
  background: rgba(255, 223, 0, 0.05);
}
.cards .card p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.cards .card h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.cards .card .learn_more {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

/* support section  */
.support_section {
  width: 1140px;
  height: 314px;
  margin: 0 auto;
  margin-top: 41px;
  background-image: url("./assets/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 79px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 10px;
}
.support_content h1 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}
.support_content p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.support_input .text {
  width: 548px;
  height: 57px;
  padding: 20px;
  border-radius: 10px;
}
.support_input .submit {
  width: 120px;
  height: 58px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 10px;
}

/* footer section  */
footer {
  width: 1440px;
  height: 100px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footer_section {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_section .foot_title h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.icons {
  display: flex;
  gap: 20px;
}
